<div class="container">
  <h1>Result</h1>
  <p>result: <%= @result %></p>
  <p>player score: <%= @player_score %></p>
 <div class="link">
    <a><%= link_to "Play again", new_path %></a>
  </div>
</div>
